/*Matisse Grigoryan
CS-135i Week 1
April 9, 2023*/

/*
Fonts 
font-family: 'Dosis', sans-serif; Body Text
font-family: 'Montserrat', sans-serif; Headers
font-family: 'Montserrat Alternates', sans-serif; 
*/

.topnavbar {
    display: flex; 
  }
  
.topnavbar li {
    background: #5271ff;
    height: 100px;
    flex: 1;
  }

  li {
    list-style-type: none;
  }

