/*Matisse Grigoryan
CS-135i Spring 2023
Week 1
April 9, 2023

coding tutorial credit - https://freshman.tech/flexbox-navbar/ 

https://www.w3schools.com/css/css_navbar_horizontal.asp*/

/*
Fonts 
font-family: 'Dosis', sans-serif; Body Text
font-family: 'Montserrat', sans-serif; Headers
font-family: 'Montserrat Alternates', sans-serif; 
*/




html {
    box-sizing: border-box;
  }

*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
  }

.link a {
    list-style-type: none;
    display: inline-block;
    padding: 10px 15px;
    color: #ffde59;
    font-family: 'Dosis', sans-serif;
  }

.link {
    display: flex;
}

.logo {
    display: inline-block;
    
    vertical-align: middle;
    border: 4px solid #7ed957;   
} 

nav {
    width: 100%;
    background-color: #5271ff;
    padding-left: 30px;
    padding-right: 10px;
}

.topnavbar div {
    display: flex; 
    justify-content: space-between;
  }
  
.topnavbar li {
    background: #5271ff;
    height: 100px;
    flex: 1;
  }

  
/*.topnavbar {
    display: flex;
    flex-wrap: nowrap;
    background-color: #5271ff;
}
  
.topnavbar > link {
    background-color: #5271ff;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}*/