/*Matisse Grigoryan
CS-135i Spring 2023
Week 1
April 9, 2023

coding tutorial credit - https://freshman.tech/flexbox-navbar/ 

https://www.w3schools.com/css/css_navbar_horizontal.asp

https://codepen.io/tedib/pen/mdypQbg
*/

/*
Fonts 
font-family: 'Montserrat', sans-serif;
font-family: 'Montserrat Alternates', sans-serif;
font-family: 'Public Sans', sans-serif;
*/

main h2, h3, p, li {
    font-family: 'Public Sans', sans-serif;
}

main h1 {
    font-family: 'Montserrat', sans-serif;
}

form {
  font-family: 'Public Sans', sans-serif;
}

.topnavbar  {
  display: flex;
  justify-content: space-between;
  align-items: center;
      background: #5271ff;
}

.logo {
  width: 175px;
  height: 175px;
  margin: 20px 0 0 1px;
}
    

.logo, .navlinks {
        list-style: none;
        font-family: 'Montserrat', sans-serif;
    }

.logo a, .navlinks a {
        text-decoration: none;
    }

.navlinks  {
  display: flex;
}

.navlinks a {
  display: block;
  padding: 6em;
  color: #ffde59;
  font-size: 115%;
}

.body {
  background-color: #ffde59;
}

.images {
  border: 1px solid #ff3131;
  border-radius: 4px;
  padding: 5px;
  width: 300px;
}

footer {
    font-family: 'Montserrat Alternates', sans-serif;
}

